# Copyright (c) 2014-2016, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    export LD_SHIM_LIBS "/system/vendor/lib64/lib-imsvt.so|libshims_ims.so:/system/bin/mm-qcamera-daemon|libshims_camera.so"

on post-fs data
    mkdir /data/goodix 0700 system system

on boot
   start rmt_storage
    start rfs_access

# access permission for secure touch
    chmod 0660 /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch_enable
    chmod 0440 /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch_enable
    chown system drmrpc /sys/devices/soc/75ba000.i2c/i2c-12/12-004a/secure_touch
    write /sys/devices/soc/75ba000.i2c/i2c-12/12-0020/input/input0/update_fw 1

    # Sensors
    chmod 0775 /persist/sensors
    chmod 0664 /persist/sensors/sensors_settings
    chown system root /persist/sensors/sensors_settings
    chmod 0664 /persist/sensors/gyro_sensitity_cal
    chown system root /persist/sensors/gyro_sensitity_cal
    mkdir /data/misc/sensors
    chmod 0775 /data/misc/sensors
    start sensors

    # Touchscreen
    chown system radio /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

    chown root system /proc/touchpanel/up_swipe_enable
    chmod 0660 /proc/touchpanel/up_swipe_enable
    chown root system /proc/touchpanel/down_swipe_enable
    chmod 0660 /proc/touchpanel/down_swipe_enable
    chown root system /proc/touchpanel/left_swipe_enable
    chmod 0660 /proc/touchpanel/left_swipe_enable
    chown root system /proc/touchpanel/right_swipe_enable
    chmod 0660 /proc/touchpanel/right_swipe_enable
    chown root system /proc/touchpanel/double_swipe_enable
    chmod 0660 /proc/touchpanel/double_swipe_enable
    chown root system /proc/touchpanel/up_arrow_enable
    chmod 0660 /proc/touchpanel/up_arrow_enable
    chown root system /proc/touchpanel/down_arrow_enable
    chmod 0660 /proc/touchpanel/down_arrow_enable
    chown root system /proc/touchpanel/left_arrow_enable
    chmod 0660 /proc/touchpanel/left_arrow_enable
    chown root system /proc/touchpanel/right_arrow_enable
    chmod 0660 /proc/touchpanel/right_arrow_enable
    chown root system /proc/touchpanel/letter_o_enable
    chmod 0660 /proc/touchpanel/letter_o_enable

    # Buttons
    chown root system /proc/s1302/key_rep
    chmod 0660 /proc/s1302/key_rep

    chown system system  /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

on property:ro.boot.fpsensor=fpc
    setprop persist.sys.fp.goodix 0
    setprop ro.hardware.fingerprint fpc

on property:ro.boot.fpsensor=gdx
    setprop persist.sys.fp.goodix 1
    setprop ro.hardware.fingerprint gdx

service gx_fpd /system/bin/gx_fpd
    class late_start
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:persist.sys.fp.goodix=0
    stop gx_fpd

on property:persist.sys.fp.goodix=1
    start gx_fpd

    # change file owner for factory test
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/firmware_version
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/firmware_update
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/calibrate

    # Notification LED
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/red/led_time
    chown system system /sys/class/leds/green/led_time
    chown system system /sys/class/leds/blue/led_time

    # Touchscreen
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/gesture_ctrl
    chmod 0660 /sys/devices/virtual/touchscreen/touchscreen_dev/gesture_ctrl

    chown root system /sys/devices/soc.0/78b9000.i2c/i2c-5/5-005d/keypad_enable
    chmod 0660 /sys/devices/soc.0/78b9000.i2c/i2c-5/5-005d/keypad_enable

service_redefine config_bt_addr /system/bin/btnvtool -b /system/bin/yl_btmac
    class core
    user bluetooth
    group bluetooth radio
    oneshot

